<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.devlxx.fast</string>
	<key>connections</key>
	<dict>
		<key>155366C3-30F1-462B-96E7-6C04A0A5B6F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7661ADB8-FBBF-4622-9E33-CD10FEC91997</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CD4D1FD-843B-46BA-AC00-25295E34024E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE87D91E-283D-4DE9-831F-C5B976A7D9F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C712B88-66E2-4463-BAFC-4A75EE189FBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03340D96-08E7-4CF7-8723-218657962F55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xingixng li</string>
	<key>description</key>
	<string>常见自定义快捷指令集合</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>XXFast</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pawf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>平安WiFi项目工程目录</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C712B88-66E2-4463-BAFC-4A75EE189FBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ "{query}" == "fork" ];then
	/usr/bin/open /Users/aa/Desktop/PingAnWiFi_fork/PingAnWiFi/PingAnWiFi.xcworkspace
else
	/usr/bin/open /Users/aa/Desktop/pinganwifi_git/PingAnWiFi/PingAnWiFi.xcworkspace
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03340D96-08E7-4CF7-8723-218657962F55</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ "{query}" == "fork" ];then
	/usr/bin/open /Users/aa/PingAnData_fork/PingAnData.xcworkspace
else
	/usr/bin/open /Users/aa/Desktop/PingAnData/PingAnData.xcworkspace
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CE87D91E-283D-4DE9-831F-C5B976A7D9F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>padt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>大冲项目工程目录</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5CD4D1FD-843B-46BA-AC00-25295E34024E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ "{query}" == "fork" ];then
	/usr/bin/open /Users/aa/Desktop/LinkMe_fork/Linkme/Linkme.xcworkspace
else
	/usr/bin/open /Users/aa/Desktop/Linkme/Linkme/Linkme.xcworkspace
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7661ADB8-FBBF-4622-9E33-CD10FEC91997</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lkm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Linkme项目工程目录</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>155366C3-30F1-462B-96E7-6C04A0A5B6F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03340D96-08E7-4CF7-8723-218657962F55</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>155366C3-30F1-462B-96E7-6C04A0A5B6F0</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>5CD4D1FD-843B-46BA-AC00-25295E34024E</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>7661ADB8-FBBF-4622-9E33-CD10FEC91997</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>7C712B88-66E2-4463-BAFC-4A75EE189FBB</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>CE87D91E-283D-4DE9-831F-C5B976A7D9F2</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>devlxx.com</string>
</dict>
</plist>
