<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.devlxx.UTF8Codec</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1F16D5B9-FCE4-4350-9151-C3F198FD923D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>378862CD-4224-4389-8D17-928430970127</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>378862CD-4224-4389-8D17-928430970127</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC090CD6-112E-4DB9-88D1-89DF9A164F4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1439132-B9C3-469C-B32D-C3BBD7168DFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84250B82-29A6-493E-A95B-5C1CFE194333</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB8ACA05-02ED-40A2-BD30-48C7EA0B9463</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5B11FAE-BAD4-4BC9-9D13-B18ADD9EE762</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5B11FAE-BAD4-4BC9-9D13-B18ADD9EE762</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEAFCD7A-FE01-4817-929E-AEBD2CE18A35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB3D87CD-43E5-433F-8A80-FEF7E72F0E60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1439132-B9C3-469C-B32D-C3BBD7168DFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEAFCD7A-FE01-4817-929E-AEBD2CE18A35</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>xinxing li</string>
	<key>description</key>
	<string>使用UTF8对字符进行编解码</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UTF8Codec</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ec</string>
				<key>subtext</key>
				<string>对URL进行编码</string>
				<key>text</key>
				<string>URL编码</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AB8ACA05-02ED-40A2-BD30-48C7EA0B9463</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EEAFCD7A-FE01-4817-929E-AEBD2CE18A35</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python encode.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5B11FAE-BAD4-4BC9-9D13-B18ADD9EE762</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>84250B82-29A6-493E-A95B-5C1CFE194333</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python decode.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1439132-B9C3-469C-B32D-C3BBD7168DFD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dc</string>
				<key>subtext</key>
				<string>对URL进行解码</string>
				<key>text</key>
				<string>URL解码</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DB3D87CD-43E5-433F-8A80-FEF7E72F0E60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uc</string>
				<key>subtext</key>
				<string>unicode转中文</string>
				<key>text</key>
				<string>unicode转中文</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F16D5B9-FCE4-4350-9151-C3F198FD923D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FC090CD6-112E-4DB9-88D1-89DF9A164F4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python test.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>378862CD-4224-4389-8D17-928430970127</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1F16D5B9-FCE4-4350-9151-C3F198FD923D</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>378862CD-4224-4389-8D17-928430970127</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>84250B82-29A6-493E-A95B-5C1CFE194333</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A1439132-B9C3-469C-B32D-C3BBD7168DFD</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>AB8ACA05-02ED-40A2-BD30-48C7EA0B9463</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>B5B11FAE-BAD4-4BC9-9D13-B18ADD9EE762</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>DB3D87CD-43E5-433F-8A80-FEF7E72F0E60</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>EEAFCD7A-FE01-4817-929E-AEBD2CE18A35</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>FC090CD6-112E-4DB9-88D1-89DF9A164F4F</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>devlxx.com</string>
</dict>
</plist>
