<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.devlxx.XXNote</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0CB5B9F3-23C4-42D6-9E7B-01BC0C221DBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16317119-8AFE-4AB2-9EFA-3C1FA434491C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D122792-5E7D-4E27-A2D3-ADE88F76E4AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>986617AF-BEE6-4F5C-99CA-5CAEEE4B69D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26C87772-0F50-4E11-9636-A2C302C94BDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD6F9D7D-3BB9-4E49-B35B-EE39B5C78BE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53F4E0C5-BD4B-430B-913F-FEB1CDA50759</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D92E145D-5C3D-465A-9C73-951838926273</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69EFE5A7-6FFE-4FCE-8477-FE130E430128</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EC28DC4-824E-4496-BC23-2CA797C33401</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F2EE4F8-B1C6-47C8-B225-5017793D058D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53F4E0C5-BD4B-430B-913F-FEB1CDA50759</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70164631-75B9-4459-9813-CF61FB09FB09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8801B0F-65DB-487A-ABF7-AEAEC98E32CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>772915DB-7E79-4D70-B1C4-5E476AED4DAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F80896A-1CF1-485F-97A8-68015AE6621E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>986617AF-BEE6-4F5C-99CA-5CAEEE4B69D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F69CF65A-CC5D-4485-8857-F721EA3A4C19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8801B0F-65DB-487A-ABF7-AEAEC98E32CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>008C2AF9-E1B0-4B8C-9865-BD06903922F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD6F9D7D-3BB9-4E49-B35B-EE39B5C78BE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E5DBE06-BF98-48E6-8406-A43E14443E70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xinxing li</string>
	<key>description</key>
	<string>用于快速做笔记</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>XXNote</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>bj</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/note</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>浏览目录下的所有文件或目录</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>69EFE5A7-6FFE-4FCE-8477-FE130E430128</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E5DBE06-BF98-48E6-8406-A43E14443E70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/Dropbox/note
/usr/bin/git pull
/usr/bin/git add .
/usr/bin/git commit -m ""{query}""
/usr/bin/git push origin master</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD6F9D7D-3BB9-4E49-B35B-EE39B5C78BE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3EC28DC4-824E-4496-BC23-2CA797C33401</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>scbj</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>上传笔记到git上</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>26C87772-0F50-4E11-9636-A2C302C94BDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>008C2AF9-E1B0-4B8C-9865-BD06903922F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl "~/Dropbox/note/{query}.md"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16317119-8AFE-4AB2-9EFA-3C1FA434491C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd /Users/aa/Library/Application\ Support/Alfred\ 3/Alfred.alfredpreferences/workflows
/usr/bin/git pull
/usr/bin/git add .
/usr/bin/git commit -m ""{query}""
/usr/bin/git push origin master</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8801B0F-65DB-487A-ABF7-AEAEC98E32CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>scalfred</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>上传Alfred的workflwo到git上</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70164631-75B9-4459-9813-CF61FB09FB09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>xjbj</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>新建一个比较，并且自动加.md后缀</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CB5B9F3-23C4-42D6-9E7B-01BC0C221DBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/Dropbox/note
/usr/bin/git pull
/usr/bin/git add .
/usr/bin/git commit -m ""{query}""
/usr/bin/git push origin master</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53F4E0C5-BD4B-430B-913F-FEB1CDA50759</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bjml</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>打开笔记目录</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>772915DB-7E79-4D70-B1C4-5E476AED4DAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open ~/Dropbox/note</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F80896A-1CF1-485F-97A8-68015AE6621E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D92E145D-5C3D-465A-9C73-951838926273</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gxbj</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>更新git上的笔记</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6F2EE4F8-B1C6-47C8-B225-5017793D058D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd /Users/aa/Library/Application\ Support/Alfred\ 3/Alfred.alfredpreferences/workflows
/usr/bin/git add .
/usr/bin/git commit -m ""{query}""
/usr/bin/git push origin master</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>986617AF-BEE6-4F5C-99CA-5CAEEE4B69D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F69CF65A-CC5D-4485-8857-F721EA3A4C19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gxalfred</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>更新git上的Alfred的workflwo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D122792-5E7D-4E27-A2D3-ADE88F76E4AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>008C2AF9-E1B0-4B8C-9865-BD06903922F9</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>0CB5B9F3-23C4-42D6-9E7B-01BC0C221DBE</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>16317119-8AFE-4AB2-9EFA-3C1FA434491C</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>1D122792-5E7D-4E27-A2D3-ADE88F76E4AB</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>26C87772-0F50-4E11-9636-A2C302C94BDB</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>3EC28DC4-824E-4496-BC23-2CA797C33401</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>53F4E0C5-BD4B-430B-913F-FEB1CDA50759</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>69EFE5A7-6FFE-4FCE-8477-FE130E430128</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6F2EE4F8-B1C6-47C8-B225-5017793D058D</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>70164631-75B9-4459-9813-CF61FB09FB09</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>772915DB-7E79-4D70-B1C4-5E476AED4DAE</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>7E5DBE06-BF98-48E6-8406-A43E14443E70</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>986617AF-BEE6-4F5C-99CA-5CAEEE4B69D0</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>9F80896A-1CF1-485F-97A8-68015AE6621E</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>A8801B0F-65DB-487A-ABF7-AEAEC98E32CF</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>AD6F9D7D-3BB9-4E49-B35B-EE39B5C78BE8</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D92E145D-5C3D-465A-9C73-951838926273</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>F69CF65A-CC5D-4485-8857-F721EA3A4C19</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.devlxx.com</string>
</dict>
</plist>
