<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.heyuhao.domainsearcher</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Lings</string>
	<key>description</key>
	<string>Search domain avaliable</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Domain Searcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dm</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python domain.py "{query}" ""</string>
				<key>subtext</key>
				<string>Input domain (eg. abc.com or abc)</string>
				<key>title</key>
				<string>Domain Searcher</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CC811985-28FC-4668-A9F3-CD5224E53A6D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dmx</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python domain.py "{query}" "all"</string>
				<key>subtext</key>
				<string>Input domain (eg. abc.com or abc)</string>
				<key>title</key>
				<string>Domain Searcher X</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6FF70FE1-4365-49F6-8691-7AA2265A44A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6FF70FE1-4365-49F6-8691-7AA2265A44A8</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CC811985-28FC-4668-A9F3-CD5224E53A6D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.heyuhao.com</string>
</dict>
</plist>
